@use "@styles/colors" as *;
@use "@styles/font-weights" as *;

.btn {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
  padding: 0.6rem 1.2rem;
  font-weight: $font-weight-thin;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--fullWidth {
    width: 100%;
  }

  &--sm {
    font-size: 0.85rem;
    padding: 0.4rem 1rem;
  }

  &--md {
    font-size: 1rem;
  }

  &--lg {
    font-size: 1.15rem;
    padding: 0.8rem 1.4rem;
  }

  &--primary {
    background-color: $color-tertiary;
    color: $color-white;

    &:not(:disabled) {
      &:hover {
        background-color: $color-tertiary-hover;
      }

      &:active {
        background-color: $color-tertiary-active;
      }
    }
  }

  &--text {
    background-color: transparent;
    color: $color-text;

    &:not(:disabled) {
      &:hover {
        color: $color-text-hover;
      }

      &:active {
        color: $color-text-active;
      }
    }
  }

  &--secondary {
    background-color: $color-primary;
    color: $color-white;

    &:not(:disabled) {
      &:hover {
        background-color: $color-primary-hover;
      }

      &:active {
        background-color: $color-primary-active;
      }
    }
  }
}
